flows/CheckIfOpportunityOwnerIspresentMLBAccountTeam.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_alert_to_send_an_email_to_account_owner_Manager_MLBAccountTeamMember</name>
        <label>Email alert to send an email to account owner/Manager/MLBAccountTeamMember</label>
        <locationX>93</locationX>
        <locationY>506</locationY>
        <actionName>Opportunity.Email_alert_to_send_an_email_to_account_owner_if_acc_owner_and_manager_is_valid</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>EmailAlertForAccountManger</name>
        <label>EmailAlertForAccountManger</label>
        <locationX>671</locationX>
        <locationY>494</locationY>
        <actionName>Opportunity.Email_alert_to_send_an_email_to_account_owner_if_manager_is_valid</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>EmailAlertForAccountOwner</name>
        <label>EmailAlertForAccountOwner</label>
        <locationX>400</locationX>
        <locationY>493</locationY>
        <actionName>Opportunity.Email_alert_to_send_an_email_to_account_owner_if_owner_is_valid</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>EmailIfOnlyMLBTeamIsValid</name>
        <label>EmailIfOnlyMLBTeamIsValid</label>
        <locationX>820</locationX>
        <locationY>448</locationY>
        <actionName>Opportunity.Email_alert_to_send_an_email_to_account_owner_if_MLB_team_is_valid</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>ifManagerAndOwnerNotValid</name>
        <label>ifManagerAndOwnerNotValid</label>
        <locationX>36</locationX>
        <locationY>209</locationY>
        <assignmentItems>
            <assignToReference>OpportunityOwnerPresentInMLBAccountTeam</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>SetIsMLBTeamMemberPresentToTrue</name>
        <label>SetIsMLBTeamMemberPresentToTrue</label>
        <locationX>953</locationX>
        <locationY>303</locationY>
        <assignmentItems>
            <assignToReference>OpportunityOwnerPresentInMLBAccountTeam</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>CheckIfIsMLBPresentSetToTrue</name>
        <label>CheckIfIsMLBPresentSetToTrue</label>
        <locationX>1170</locationX>
        <locationY>260</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsMLBPresentSetToTrueOrNot</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityOwnerPresentInMLBAccountTeam</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TemplateName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AccountOwnerAndManagerTemplate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_alert_to_send_an_email_to_account_owner_Manager_MLBAccountTeamMember</targetReference>
            </connector>
            <label>IsMLBPresentSetToTrueOrNot</label>
        </rules>
        <rules>
            <name>IsAccountOwnerTemplate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityOwnerPresentInMLBAccountTeam</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TemplateName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AccountOwnerTemplate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EmailAlertForAccountOwner</targetReference>
            </connector>
            <label>IsAccountOwnerTemplate</label>
        </rules>
        <rules>
            <name>IsAccountManagerTemplate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityOwnerPresentInMLBAccountTeam</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TemplateName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AccountManagerTemplate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountManagerEmail</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EmailAlertForAccountManger</targetReference>
            </connector>
            <label>IsAccountManagerTemplate</label>
        </rules>
        <rules>
            <name>IsAccountOwnerAndMangerNotValid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityOwnerPresentInMLBAccountTeam</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TemplateName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OwnerManagerNotValid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EmailIfOnlyMLBTeamIsValid</targetReference>
            </connector>
            <label>IsAccountOwnerAndMangerNotValid</label>
        </rules>
        <rules>
            <name>CheckIfAccountManagerEmailPresent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityOwnerPresentInMLBAccountTeam</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TemplateName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AccountManagerTemplate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountManagerEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EmailIfOnlyMLBTeamIsValid</targetReference>
            </connector>
            <label>CheckIfAccountManagerEmailPresent</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckOpportunityOwnerPresentInMLBAccountTeam</name>
        <label>CheckOpportunityOwnerPresentInMLBAccountTeam</label>
        <locationX>1201</locationX>
        <locationY>137</locationY>
        <defaultConnector>
            <targetReference>LoopToValidateEachMLBTeamMember</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SetIsMLBTeamMemberPresent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityOwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MLBTeamMember.UserId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityOwnerPresentInMLBAccountTeam</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetIsMLBTeamMemberPresentToTrue</targetReference>
            </connector>
            <label>SetIsMLBTeamMemberPresent</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsMLBTeamMemberPresentInAccountTeam</name>
        <label>IsMLBTeamMemberPresentInAccountTeam</label>
        <locationX>433</locationX>
        <locationY>99</locationY>
        <defaultConnector>
            <targetReference>Email_alert_to_send_an_email_to_account_owner_Manager_MLBAccountTeamMember</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckIfOpportunityOwnerPresentInMLBAccountTeam</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MLBAccountTeamMemberRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopToValidateEachMLBTeamMember</targetReference>
            </connector>
            <label>CheckIfOpportunityOwnerPresentInMLBAccountTeam</label>
        </rules>
        <rules>
            <name>CheckIfAccountManagerAndOwnerPresent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MLBAccountTeamMemberRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TemplateName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OwnerManagerNotValid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ifManagerAndOwnerNotValid</targetReference>
            </connector>
            <label>CheckIfAccountManagerAndOwnerPresent</label>
        </rules>
        <rules>
            <name>checkIfAccountManagerEmailIsPresent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MLBAccountTeamMemberRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TemplateName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AccountOwnerTemplate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EmailAlertForAccountOwner</targetReference>
            </connector>
            <label>checkIfAccountManagerEmailIsPresent</label>
        </rules>
        <rules>
            <name>checkIfAccountOwnerAndManagerPresent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountManagerEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MLBAccountTeamMemberRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TemplateName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AccountManagerTemplate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ifManagerAndOwnerNotValid</targetReference>
            </connector>
            <label>checkIfAccountOwnerAndManagerPresent</label>
        </rules>
        <rules>
            <name>CheckIfOnlyOwnerIsValid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountManagerEmail</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MLBAccountTeamMemberRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TemplateName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AccountManagerTemplate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EmailAlertForAccountManger</targetReference>
            </connector>
            <label>CheckIfOnlyOwnerIsValid</label>
        </rules>
    </decisions>
    <interviewLabel>CheckIfOpportunityOwnerIspresentMLBAccountTeam {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CheckIfOpportunityOwnerIspresentMLBAccountTeam</label>
    <loops>
        <name>LoopToValidateEachMLBTeamMember</name>
        <label>LoopToValidateEachMLBTeamMember</label>
        <locationX>793</locationX>
        <locationY>50</locationY>
        <assignNextValueToReference>MLBTeamMember</assignNextValueToReference>
        <collectionReference>MLBAccountTeamMemberRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CheckOpportunityOwnerPresentInMLBAccountTeam</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CheckIfIsMLBPresentSetToTrue</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetMLBAccountTeamMemberRecords</name>
        <label>GetMLBAccountTeamMemberRecords</label>
        <locationX>203</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsMLBTeamMemberPresentInAccountTeam</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Acct: MLB-Hold</stringValue>
            </value>
        </filters>
        <object>AccountTeamMember</object>
        <outputReference>MLBAccountTeamMemberRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>UserId</queriedFields>
    </recordLookups>
    <startElementReference>GetMLBAccountTeamMemberRecords</startElementReference>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccountManagerEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>MLBAccountTeamMemberRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AccountTeamMember</objectType>
    </variables>
    <variables>
        <name>MLBTeamMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>AccountTeamMember</objectType>
    </variables>
    <variables>
        <name>OpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OpportunityOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OpportunityOwnerPresentInMLBAccountTeam</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>TemplateName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
