flows/JBSystemFlow_Tour_Outcome_c.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObj3d0d5a5b38c283b967dfd4907a2993ad_FireJBTrigger</name>
        <label>SalesforceObj3d0d5a5b38c283b967dfd4907a2993ad_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{
  &quot;relationshipIdName&quot;: &quot;Primary_Member__c&quot;,
  &quot;relationshipName&quot;: &quot;Primary_Member__r&quot;,
  &quot;isPolymorphic&quot;: false,
  &quot;referenceObjectName&quot;: &quot;Contact&quot;,
  &quot;fieldName&quot;: &quot;Id&quot;
}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Tour_Outcome__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj3d0d5a5b38c283b967dfd4907a2993ad</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>7278569</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Primary_Member__r&quot;,&quot;dePrefix&quot;:&quot;Tour_Outcome__c:Primary_Member__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;Email&quot;,&quot;Kind__c&quot;,&quot;LastName&quot;,&quot;FirstName&quot;,&quot;Locale__c&quot;,&quot;Status__c&quot;,&quot;MobilePhone&quot;,&quot;User_Kind__c&quot;,&quot;RecordTypeId&quot;,&quot;SMS_Opt_In__c&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;Full_Time_Employees__c&quot;,&quot;Looking_For_Number_Of_Desk__c&quot;,&quot;et4ae5__Mobile_Country_Code__c&quot;,&quot;et4ae5__HasOptedOutOfMobile__c&quot;,&quot;Number_of_Full_Time_Employees__c&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Tour_Outcome__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;uuid__c&quot;,&quot;OwnerId&quot;,&quot;Status__c&quot;,&quot;End_Time__c&quot;,&quot;Location__c&quot;,&quot;Tour_Date__c&quot;,&quot;Hosted_By__c&quot;,&quot;Entry_Type__c&quot;,&quot;Start_Time__c&quot;,&quot;Today_date__c&quot;,&quot;Tour_Notes__c&quot;,&quot;Manual_Tour__c&quot;,&quot;Scheduled_By__c&quot;,&quot;Company_Name__c&quot;,&quot;Product_Line__c&quot;,&quot;Location_UUID__c&quot;,&quot;Tour_Date_Time__c&quot;,&quot;New_Tour_Notes__c&quot;,&quot;sf_journey_uuid__c&quot;,&quot;Location_Address__c&quot;,&quot;Tour_Participant__c&quot;,&quot;Tour_Outcome_UUID__c&quot;,&quot;original_tour_uuid__c&quot;,&quot;Tour_With_First_Name__c&quot;,&quot;Location_Phone_Number__c&quot;,&quot;Tour_Scheduled_With_Email__c&quot;,&quot;Location_Special_Instructions__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Building__c&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Location__r&quot;,&quot;dePrefix&quot;:&quot;Tour_Outcome__c:Location__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;Gate__c&quot;,&quot;City__c&quot;,&quot;UUID__c&quot;,&quot;State__c&quot;,&quot;Email__c&quot;,&quot;Address__c&quot;,&quot;Country__c&quot;,&quot;Time_Zone__c&quot;,&quot;GMT_Offset__c&quot;,&quot;Postal_Code__c&quot;,&quot;Building_ID__c&quot;,&quot;Responsible_CM__c&quot;,&quot;Building_to_Gate_A__c&quot;,&quot;Timezone_GMT_Offset__c&quot;,&quot;NOT_Tourable_Sellable__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj3d0d5a5b38c283b967dfd4907a2993ad</name>
        <label>JB_Decision_Null_Check_SalesforceObj3d0d5a5b38c283b967dfd4907a2993ad</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj3d0d5a5b38c283b967dfd4907a2993ad_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Primary_Member__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>JB_SalesforceObj3d0d5a5b38c283b967dfd4907a2993ad_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj3d0d5a5b38c283b967dfd4907a2993ad_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj3d0d5a5b38c283b967dfd4907a2993ad_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj3d0d5a5b38c283b967dfd4907a2993ad_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj3d0d5a5b38c283b967dfd4907a2993ad_Decision</name>
        <label>JB_SalesforceObj3d0d5a5b38c283b967dfd4907a2993ad_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj3d0d5a5b38c283b967dfd4907a2993ad</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj3d0d5a5b38c283b967dfd4907a2993ad_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj3d0d5a5b38c283b967dfd4907a2993ad</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_Tour_Outcome_c</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObj3d0d5a5b38c283b967dfd4907a2993ad</startElementReference>
    <status>Active</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Tour_Outcome__c</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Tour_Outcome__c</objectType>
    </variables>
</Flow>
