flows/JBSystemFlow_Contact.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObj7d97f3f15abe2de2930048dabd7f7641_FireJBTrigger</name>
        <label>SalesforceObj7d97f3f15abe2de2930048dabd7f7641_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{
  &quot;relationshipIdName&quot;: &quot;Id&quot;,
  &quot;relationshipName&quot;: &quot;&quot;,
  &quot;isPolymorphic&quot;: false,
  &quot;referenceObjectName&quot;: &quot;Contact&quot;
}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj7d97f3f15abe2de2930048dabd7f7641</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>7278569</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Contact:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;UUID__c&quot;,&quot;City__c&quot;,&quot;Type__c&quot;,&quot;LastName&quot;,&quot;Market__c&quot;,&quot;Locale__c&quot;,&quot;FirstName&quot;,&quot;Status__c&quot;,&quot;LeadSource&quot;,&quot;utm_term__c&quot;,&quot;MobilePhone&quot;,&quot;utm_medium__c&quot;,&quot;utm_source__c&quot;,&quot;utm_content__c&quot;,&quot;utm_campaign__c&quot;,&quot;Account_Name__c&quot;,&quot;Company_Name__c&quot;,&quot;LastActivityDate&quot;,&quot;Account_Owner__c&quot;,&quot;utm_campaign_id__c&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;Marketing_Consent__c&quot;,&quot;Lead_Source_Detail__c&quot;,&quot;Markets_Interested__c&quot;,&quot;Location_Interested__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObjcb04c09b2990d9dcacadb8809f4ac578_FireJBTrigger</name>
        <label>SalesforceObjcb04c09b2990d9dcacadb8809f4ac578_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj7d97f3f15abe2de2930048dabd7f7641</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj7d97f3f15abe2de2930048dabd7f7641</targetReference>
        </faultConnector>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Id&quot;,&quot;relationshipName&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjcb04c09b2990d9dcacadb8809f4ac578</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>7278569</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Contact:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;OwnerId&quot;,&quot;LeadSource&quot;,&quot;CreatedDate&quot;,&quot;utm_term__c&quot;,&quot;utm_medium__c&quot;,&quot;utm_source__c&quot;,&quot;utm_content__c&quot;,&quot;utm_campaign__c&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;Marketing_Consent__c&quot;,&quot;Lead_Source_Detail__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj7d97f3f15abe2de2930048dabd7f7641</name>
        <label>JB_Decision_Null_Check_SalesforceObj7d97f3f15abe2de2930048dabd7f7641</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj7d97f3f15abe2de2930048dabd7f7641_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj7d97f3f15abe2de2930048dabd7f7641_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj7d97f3f15abe2de2930048dabd7f7641_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjcb04c09b2990d9dcacadb8809f4ac578</name>
        <label>JB_Decision_Null_Check_SalesforceObjcb04c09b2990d9dcacadb8809f4ac578</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj7d97f3f15abe2de2930048dabd7f7641</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjcb04c09b2990d9dcacadb8809f4ac578_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjcb04c09b2990d9dcacadb8809f4ac578_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjcb04c09b2990d9dcacadb8809f4ac578_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj7d97f3f15abe2de2930048dabd7f7641_Decision</name>
        <label>JB_SalesforceObj7d97f3f15abe2de2930048dabd7f7641_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj7d97f3f15abe2de2930048dabd7f7641</name>
            <conditionLogic>( ( ( (1 AND 2)  AND 3)  AND 4)  AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Broker</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.LeadSource</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>WeLive</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.LeadSource</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>WeWork.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.LeadSource</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Broker Referral</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Lead_Source_Detail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Referral Web</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj7d97f3f15abe2de2930048dabd7f7641_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj7d97f3f15abe2de2930048dabd7f7641</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjcb04c09b2990d9dcacadb8809f4ac578_Decision</name>
        <label>JB_SalesforceObjcb04c09b2990d9dcacadb8809f4ac578_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj7d97f3f15abe2de2930048dabd7f7641</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjcb04c09b2990d9dcacadb8809f4ac578</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Broker</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjcb04c09b2990d9dcacadb8809f4ac578_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjcb04c09b2990d9dcacadb8809f4ac578</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_Contact</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObjcb04c09b2990d9dcacadb8809f4ac578</startElementReference>
    <status>Active</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
