flows/JBSystemFlow_CampaignMember.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObj86c20ace9e3739448deb1b182383942e_FireJBTrigger</name>
        <label>SalesforceObj86c20ace9e3739448deb1b182383942e_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{
  &quot;relationshipIdName&quot;: &quot;Id&quot;,
  &quot;relationshipName&quot;: &quot;Common&quot;,
  &quot;isPolymorphic&quot;: false,
  &quot;referenceObjectName&quot;: &quot;Common&quot;
}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>CampaignMember</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj86c20ace9e3739448deb1b182383942e</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>7278569</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>CampaignMember</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Campaign&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Campaign&quot;,&quot;dePrefix&quot;:&quot;CampaignMember:Campaign:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Type&quot;,&quot;City__c&quot;,&quot;EndDate&quot;,&quot;Name__c&quot;,&quot;StartDate&quot;,&quot;Building__c&quot;,&quot;CreatedDate&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;CampaignMember:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;LeadId&quot;,&quot;Status&quot;,&quot;ContactId&quot;,&quot;CampaignId&quot;,&quot;Full_Name__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contacts and Leads&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Common&quot;,&quot;dePrefix&quot;:&quot;CampaignMember:Common:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;LastName&quot;,&quot;FirstName&quot;,&quot;Market__c&quot;,&quot;LeadSource&quot;,&quot;RecordTypeId&quot;,&quot;Country_Code__c&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;Marketing_Consent__c&quot;,&quot;Lead_Source_Detail__c&quot;,&quot;Markets_Interested__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Lead&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Lead&quot;,&quot;dePrefix&quot;:&quot;CampaignMember:Lead:&quot;,&quot;fields&quot;:[&quot;Building_Interested_In__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj86c20ace9e3739448deb1b182383942e</name>
        <label>JB_Decision_Null_Check_SalesforceObj86c20ace9e3739448deb1b182383942e</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj86c20ace9e3739448deb1b182383942e_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>JB_SalesforceObj86c20ace9e3739448deb1b182383942e_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj86c20ace9e3739448deb1b182383942e_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj86c20ace9e3739448deb1b182383942e_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj86c20ace9e3739448deb1b182383942e_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj86c20ace9e3739448deb1b182383942e_Decision</name>
        <label>JB_SalesforceObj86c20ace9e3739448deb1b182383942e_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj86c20ace9e3739448deb1b182383942e</name>
            <conditionLogic>(1 And  ( (2 AND 3)  AND  ( (4 AND 5)  OR  (6 AND 7) ) ) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.CampaignId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Campaign.Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LatAm</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Contact.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Event</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.LeadId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Lead.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Event</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj86c20ace9e3739448deb1b182383942e_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj86c20ace9e3739448deb1b182383942e</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_CampaignMember</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObj86c20ace9e3739448deb1b182383942e</startElementReference>
    <status>Active</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
</Flow>
