flows/Opportunity_Send_Email_To_Account_Related_Users_On_Creation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>flow</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>CheckIfOpportunityOwnerIspresentMLBAccountTeam</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>CheckIfOpportunityOwnerIspresentMLBAccountTeam</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>CheckIfOpportunityOwnerIspresentMLBAccountTeam</actionName>
        <actionType>flow</actionType>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>AccountId</name>
            <value>
                <elementReference>myVariable_current.Account.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>OpportunityOwnerId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>OpportunityOwnerId</name>
            <value>
                <elementReference>myVariable_current.Owner.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>OpportunityId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>OpportunityId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>TemplateName</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <name>TemplateName</name>
            <value>
                <stringValue>AccountOwnerAndManagerTemplate</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>AccountManagerEmail</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>AccountManagerEmail</name>
            <value>
                <elementReference>myVariable_current.Account_Manager_Email__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>flow</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>CheckIfOpportunityOwnerIspresentMLBAccountTeam</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>CheckIfAccountOwnerIsvalid</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <actionName>CheckIfOpportunityOwnerIspresentMLBAccountTeam</actionName>
        <actionType>flow</actionType>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>AccountId</name>
            <value>
                <elementReference>myVariable_current.Account.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>OpportunityId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>OpportunityId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>OpportunityOwnerId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>OpportunityOwnerId</name>
            <value>
                <elementReference>myVariable_current.Owner.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>TemplateName</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <name>TemplateName</name>
            <value>
                <stringValue>AccountOwnerTemplate</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>AccountManagerEmail</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>AccountManagerEmail</name>
            <value>
                <elementReference>myVariable_current.Account_Manager_Email__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>flow</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>CheckIfOpportunityOwnerIspresentMLBAccountTeam</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_5_A1</name>
        <label>CheckIfOpportunityManagerIsValid</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <actionName>CheckIfOpportunityOwnerIspresentMLBAccountTeam</actionName>
        <actionType>flow</actionType>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>AccountId</name>
            <value>
                <elementReference>myVariable_current.Account.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>OpportunityId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>OpportunityId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>OpportunityOwnerId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>OpportunityOwnerId</name>
            <value>
                <elementReference>myVariable_current.Owner.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>TemplateName</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <name>TemplateName</name>
            <value>
                <stringValue>AccountManagerTemplate</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>AccountManagerEmail</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>AccountManagerEmail</name>
            <value>
                <elementReference>myVariable_current.Account_Manager_Email__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>flow</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>CheckIfOpportunityOwnerIspresentMLBAccountTeam</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_7_A1</name>
        <label>CheckIfOpportunityOwnerIspresentMLBAccountTeam</label>
        <locationX>700</locationX>
        <locationY>200</locationY>
        <actionName>CheckIfOpportunityOwnerIspresentMLBAccountTeam</actionName>
        <actionType>flow</actionType>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>AccountId</name>
            <value>
                <elementReference>myVariable_current.Account.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>OpportunityId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>OpportunityId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>OpportunityOwnerId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>OpportunityOwnerId</name>
            <value>
                <elementReference>myVariable_current.Owner.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>TemplateName</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <name>TemplateName</name>
            <value>
                <stringValue>OwnerManagerNotValid</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>AccountManagerEmail</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>AccountManagerEmail</name>
            <value>
                <elementReference>myVariable_current.Account_Manager_Email__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_pmetdec</targetReference>
            </connector>
            <label>Validate Account owner and Manger to Opportunity owner</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_pmetdec</targetReference>
            </connector>
            <label>Validate Account Owner to Opportunity owner</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_pmetdec</targetReference>
            </connector>
            <label>Validate Account Manager to Opportunity owner</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision6</name>
        <label>myDecision6</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_pmetdec</targetReference>
            </connector>
            <label>Validate MLB Team to Opportunity owner</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_1_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>100</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_1_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_1_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_1_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_3_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>300</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_3_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_3_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_3_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_5_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>500</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_5_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_5_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_5_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_7_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>700</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_7_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_7_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_7_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_7_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>((ISNEW()) ||
(
ISCHANGED( [Opportunity].Assignment_Status__c ) &amp;&amp;
ISPICKVAL( PRIORVALUE ( [Opportunity].Assignment_Status__c ), &quot;On Hold&quot; ) &amp;&amp;
ISPICKVAL( [Opportunity].Assignment_Status__c, &quot;Completed&quot; )
))
 &amp;&amp;
(
NOT( ISBLANK([Opportunity].AccountId ) )  &amp;&amp; 
(
(
[Opportunity].Owner.Id &lt;&gt; [Opportunity].Account.Owner.Id &amp;&amp; 
[Opportunity].Account.Owner.Profile.Name &lt;&gt; &quot;WeWork System Administrator&quot; &amp;&amp; 
[Opportunity].Account.Owner.Profile.Name &lt;&gt; &quot;WeWork System Administrator - New Layouts&quot; &amp;&amp; 
[Opportunity].Account.Owner.Profile.Name &lt;&gt; &quot;WeWork Support and Operations&quot; &amp;&amp;
[Opportunity].Account.Owner.IsActive )  &amp;&amp;
( 
ISBLANK( [Opportunity].Account.Account_Manager_Lookup__c ) || 
( [Opportunity].Owner.Id &lt;&gt;[Opportunity].Account.Account_Manager_Lookup__c.Id &amp;&amp; 
[Opportunity].Account.Account_Manager_Lookup__c.Profile.Name  &lt;&gt; &quot;WeWork System Administrator&quot; &amp;&amp; 
[Opportunity].Account.Account_Manager_Lookup__c.Profile.Name  &lt;&gt; &quot;WeWork System Administrator - New Layouts&quot; &amp;&amp; 
[Opportunity].Account.Account_Manager_Lookup__c.Profile.Name  &lt;&gt; &quot;WeWork Support and Operations&quot; &amp;&amp; 
[Opportunity].Account.Account_Manager_Lookup__c.IsActive 
 ) ) ) ) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>((ISNEW()) ||
(
ISCHANGED( {!myVariable_current.Assignment_Status__c} ) &amp;&amp;
ISPICKVAL( PRIORVALUE ( {!myVariable_current.Assignment_Status__c} ), &quot;On Hold&quot; ) &amp;&amp;
ISPICKVAL( {!myVariable_current.Assignment_Status__c}, &quot;Completed&quot; )
))
 &amp;&amp;
(
NOT( ISBLANK({!myVariable_current.AccountId} ) )  &amp;&amp; 
(
(
{!myVariable_current.Owner.Id} &lt;&gt; {!myVariable_current.Account.Owner.Id} &amp;&amp; 
{!myVariable_current.Account.Owner.Profile.Name} &lt;&gt; &quot;WeWork System Administrator&quot; &amp;&amp; 
{!myVariable_current.Account.Owner.Profile.Name} &lt;&gt; &quot;WeWork System Administrator - New Layouts&quot; &amp;&amp; 
{!myVariable_current.Account.Owner.Profile.Name} &lt;&gt; &quot;WeWork Support and Operations&quot; &amp;&amp;
{!myVariable_current.Account.Owner.IsActive} )  &amp;&amp;
( 
ISBLANK( {!myVariable_current.Account.Account_Manager_Lookup__c} ) || 
( {!myVariable_current.Owner.Id} &lt;&gt;{!myVariable_current.Account.Account_Manager_Lookup__r.Id} &amp;&amp; 
{!myVariable_current.Account.Account_Manager_Lookup__r.Profile.Name}  &lt;&gt; &quot;WeWork System Administrator&quot; &amp;&amp; 
{!myVariable_current.Account.Account_Manager_Lookup__r.Profile.Name}  &lt;&gt; &quot;WeWork System Administrator - New Layouts&quot; &amp;&amp; 
{!myVariable_current.Account.Account_Manager_Lookup__r.Profile.Name}  &lt;&gt; &quot;WeWork Support and Operations&quot; &amp;&amp; 
{!myVariable_current.Account.Account_Manager_Lookup__r.IsActive} 
 ) ) ) )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>((ISNEW()) ||
(
ISCHANGED( [Opportunity].Assignment_Status__c ) &amp;&amp;
ISPICKVAL( PRIORVALUE ( [Opportunity].Assignment_Status__c ), &quot;On Hold&quot; ) &amp;&amp;
ISPICKVAL( [Opportunity].Assignment_Status__c, &quot;Completed&quot; )
))
 &amp;&amp;
(
NOT( ISBLANK([Opportunity].AccountId ) )  &amp;&amp; 
(
(
[Opportunity].Owner.Id &lt;&gt; [Opportunity].Account.Owner.Id &amp;&amp; 
[Opportunity].Account.Owner.Profile.Name &lt;&gt; &quot;WeWork System Administrator&quot; &amp;&amp; 
[Opportunity].Account.Owner.Profile.Name &lt;&gt; &quot;WeWork System Administrator - New Layouts&quot; &amp;&amp; 
[Opportunity].Account.Owner.Profile.Name &lt;&gt; &quot;WeWork Support and Operations&quot; &amp;&amp;
[Opportunity].Account.Owner.IsActive )  &amp;&amp;
( 
ISBLANK( [Opportunity].Account.Account_Manager_Lookup__c ) || 
( [Opportunity].Owner.Id &lt;&gt;[Opportunity].Account.Account_Manager_Lookup__c.Id &amp;&amp; 
[Opportunity].Account.Account_Manager_Lookup__c.Profile.Name  &lt;&gt; &quot;WeWork System Administrator&quot; &amp;&amp; 
[Opportunity].Account.Account_Manager_Lookup__c.Profile.Name  &lt;&gt; &quot;WeWork System Administrator - New Layouts&quot; &amp;&amp; 
[Opportunity].Account.Account_Manager_Lookup__c.Profile.Name  &lt;&gt; &quot;WeWork Support and Operations&quot; &amp;&amp; 
[Opportunity].Account.Account_Manager_Lookup__c.IsActive 
 ) ) ) ) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>((ISNEW()) ||
(
ISCHANGED( {!myVariable_old.Assignment_Status__c} ) &amp;&amp;
ISPICKVAL( PRIORVALUE ( {!myVariable_old.Assignment_Status__c} ), &quot;On Hold&quot; ) &amp;&amp;
ISPICKVAL( {!myVariable_old.Assignment_Status__c}, &quot;Completed&quot; )
))
 &amp;&amp;
(
NOT( ISBLANK({!myVariable_old.AccountId} ) )  &amp;&amp; 
(
(
{!myVariable_old.Owner.Id} &lt;&gt; {!myVariable_old.Account.Owner.Id} &amp;&amp; 
{!myVariable_old.Account.Owner.Profile.Name} &lt;&gt; &quot;WeWork System Administrator&quot; &amp;&amp; 
{!myVariable_old.Account.Owner.Profile.Name} &lt;&gt; &quot;WeWork System Administrator - New Layouts&quot; &amp;&amp; 
{!myVariable_old.Account.Owner.Profile.Name} &lt;&gt; &quot;WeWork Support and Operations&quot; &amp;&amp;
{!myVariable_old.Account.Owner.IsActive} )  &amp;&amp;
( 
ISBLANK( {!myVariable_old.Account.Account_Manager_Lookup__c} ) || 
( {!myVariable_old.Owner.Id} &lt;&gt;{!myVariable_old.Account.Account_Manager_Lookup__r.Id} &amp;&amp; 
{!myVariable_old.Account.Account_Manager_Lookup__r.Profile.Name}  &lt;&gt; &quot;WeWork System Administrator&quot; &amp;&amp; 
{!myVariable_old.Account.Account_Manager_Lookup__r.Profile.Name}  &lt;&gt; &quot;WeWork System Administrator - New Layouts&quot; &amp;&amp; 
{!myVariable_old.Account.Account_Manager_Lookup__r.Profile.Name}  &lt;&gt; &quot;WeWork Support and Operations&quot; &amp;&amp; 
{!myVariable_old.Account.Account_Manager_Lookup__r.IsActive} 
 ) ) ) )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>((ISNEW()) ||
(
ISCHANGED( [Opportunity].Assignment_Status__c ) &amp;&amp;
ISPICKVAL( PRIORVALUE ( [Opportunity].Assignment_Status__c ), &quot;On Hold&quot; ) &amp;&amp;
ISPICKVAL( [Opportunity].Assignment_Status__c, &quot;Completed&quot; )
))
 &amp;&amp;
(
NOT( ISBLANK( [Opportunity].AccountId  ) )  &amp;&amp; 
(
(
[Opportunity].Owner.Id &lt;&gt; [Opportunity].Account.Owner.Id &amp;&amp; 
[Opportunity].Account.Owner.Profile.Name &lt;&gt; &quot;WeWork System Administrator&quot; &amp;&amp; 
[Opportunity].Account.Owner.Profile.Name &lt;&gt; &quot;WeWork System Administrator - New Layouts&quot; &amp;&amp; 
[Opportunity].Account.Owner.Profile.Name &lt;&gt; &quot;WeWork Support and Operations&quot; &amp;&amp;
[Opportunity].Account.Owner.IsActive )  &amp;&amp;
( 
ISBLANK( [Opportunity].Account.Account_Manager_Lookup__c ) || 
( [Opportunity].Owner.Id &lt;&gt;[Opportunity].Account.Account_Manager_Lookup__c.Id 
 
) ) ) ) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>((ISNEW()) ||
(
ISCHANGED( {!myVariable_current.Assignment_Status__c} ) &amp;&amp;
ISPICKVAL( PRIORVALUE ( {!myVariable_current.Assignment_Status__c} ), &quot;On Hold&quot; ) &amp;&amp;
ISPICKVAL( {!myVariable_current.Assignment_Status__c}, &quot;Completed&quot; )
))
 &amp;&amp;
(
NOT( ISBLANK( {!myVariable_current.AccountId}  ) )  &amp;&amp; 
(
(
{!myVariable_current.Owner.Id} &lt;&gt; {!myVariable_current.Account.Owner.Id} &amp;&amp; 
{!myVariable_current.Account.Owner.Profile.Name} &lt;&gt; &quot;WeWork System Administrator&quot; &amp;&amp; 
{!myVariable_current.Account.Owner.Profile.Name} &lt;&gt; &quot;WeWork System Administrator - New Layouts&quot; &amp;&amp; 
{!myVariable_current.Account.Owner.Profile.Name} &lt;&gt; &quot;WeWork Support and Operations&quot; &amp;&amp;
{!myVariable_current.Account.Owner.IsActive} )  &amp;&amp;
( 
ISBLANK( {!myVariable_current.Account.Account_Manager_Lookup__c} ) || 
( {!myVariable_current.Owner.Id} &lt;&gt;{!myVariable_current.Account.Account_Manager_Lookup__r.Id} 
 
) ) ) )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>((ISNEW()) ||
(
ISCHANGED( [Opportunity].Assignment_Status__c ) &amp;&amp;
ISPICKVAL( PRIORVALUE ( [Opportunity].Assignment_Status__c ), &quot;On Hold&quot; ) &amp;&amp;
ISPICKVAL( [Opportunity].Assignment_Status__c, &quot;Completed&quot; )
))
 &amp;&amp;
(
NOT( ISBLANK( [Opportunity].AccountId  ) )  &amp;&amp; 
(
(
[Opportunity].Owner.Id &lt;&gt; [Opportunity].Account.Owner.Id &amp;&amp; 
[Opportunity].Account.Owner.Profile.Name &lt;&gt; &quot;WeWork System Administrator&quot; &amp;&amp; 
[Opportunity].Account.Owner.Profile.Name &lt;&gt; &quot;WeWork System Administrator - New Layouts&quot; &amp;&amp; 
[Opportunity].Account.Owner.Profile.Name &lt;&gt; &quot;WeWork Support and Operations&quot; &amp;&amp;
[Opportunity].Account.Owner.IsActive )  &amp;&amp;
( 
ISBLANK( [Opportunity].Account.Account_Manager_Lookup__c ) || 
( [Opportunity].Owner.Id &lt;&gt;[Opportunity].Account.Account_Manager_Lookup__c.Id 
 
) ) ) ) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>((ISNEW()) ||
(
ISCHANGED( {!myVariable_old.Assignment_Status__c} ) &amp;&amp;
ISPICKVAL( PRIORVALUE ( {!myVariable_old.Assignment_Status__c} ), &quot;On Hold&quot; ) &amp;&amp;
ISPICKVAL( {!myVariable_old.Assignment_Status__c}, &quot;Completed&quot; )
))
 &amp;&amp;
(
NOT( ISBLANK( {!myVariable_old.AccountId}  ) )  &amp;&amp; 
(
(
{!myVariable_old.Owner.Id} &lt;&gt; {!myVariable_old.Account.Owner.Id} &amp;&amp; 
{!myVariable_old.Account.Owner.Profile.Name} &lt;&gt; &quot;WeWork System Administrator&quot; &amp;&amp; 
{!myVariable_old.Account.Owner.Profile.Name} &lt;&gt; &quot;WeWork System Administrator - New Layouts&quot; &amp;&amp; 
{!myVariable_old.Account.Owner.Profile.Name} &lt;&gt; &quot;WeWork Support and Operations&quot; &amp;&amp;
{!myVariable_old.Account.Owner.IsActive} )  &amp;&amp;
( 
ISBLANK( {!myVariable_old.Account.Account_Manager_Lookup__c} ) || 
( {!myVariable_old.Owner.Id} &lt;&gt;{!myVariable_old.Account.Account_Manager_Lookup__r.Id} 
 
) ) ) )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>((ISNEW()) ||
(
ISCHANGED( [Opportunity].Assignment_Status__c ) &amp;&amp;
ISPICKVAL( PRIORVALUE ( [Opportunity].Assignment_Status__c ), &quot;On Hold&quot; ) &amp;&amp;
ISPICKVAL( [Opportunity].Assignment_Status__c, &quot;Completed&quot; )
))
 &amp;&amp;
(
NOT( ISBLANK( [Opportunity].AccountId  ) )  &amp;&amp; 
(
(
[Opportunity].Owner.Id &lt;&gt; [Opportunity].Account.Owner.Id
)  &amp;&amp;
( 
ISBLANK( [Opportunity].Account.Account_Manager_Lookup__c ) || 
( [Opportunity].Owner.Id &lt;&gt;[Opportunity].Account.Account_Manager_Lookup__c.Id &amp;&amp; 
[Opportunity].Account.Account_Manager_Lookup__c.Profile.Name  &lt;&gt; &quot;WeWork System Administrator&quot; &amp;&amp; 
[Opportunity].Account.Account_Manager_Lookup__c.Profile.Name  &lt;&gt; &quot;WeWork System Administrator - New Layouts&quot; &amp;&amp; 
[Opportunity].Account.Account_Manager_Lookup__c.Profile.Name  &lt;&gt; &quot;WeWork Support and Operations&quot; &amp;&amp; 
[Opportunity].Account.Account_Manager_Lookup__c.IsActive 
 ) ) ) ) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>((ISNEW()) ||
(
ISCHANGED( {!myVariable_current.Assignment_Status__c} ) &amp;&amp;
ISPICKVAL( PRIORVALUE ( {!myVariable_current.Assignment_Status__c} ), &quot;On Hold&quot; ) &amp;&amp;
ISPICKVAL( {!myVariable_current.Assignment_Status__c}, &quot;Completed&quot; )
))
 &amp;&amp;
(
NOT( ISBLANK( {!myVariable_current.AccountId}  ) )  &amp;&amp; 
(
(
{!myVariable_current.Owner.Id} &lt;&gt; {!myVariable_current.Account.Owner.Id}
)  &amp;&amp;
( 
ISBLANK( {!myVariable_current.Account.Account_Manager_Lookup__c} ) || 
( {!myVariable_current.Owner.Id} &lt;&gt;{!myVariable_current.Account.Account_Manager_Lookup__r.Id} &amp;&amp; 
{!myVariable_current.Account.Account_Manager_Lookup__r.Profile.Name}  &lt;&gt; &quot;WeWork System Administrator&quot; &amp;&amp; 
{!myVariable_current.Account.Account_Manager_Lookup__r.Profile.Name}  &lt;&gt; &quot;WeWork System Administrator - New Layouts&quot; &amp;&amp; 
{!myVariable_current.Account.Account_Manager_Lookup__r.Profile.Name}  &lt;&gt; &quot;WeWork Support and Operations&quot; &amp;&amp; 
{!myVariable_current.Account.Account_Manager_Lookup__r.IsActive} 
 ) ) ) )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>((ISNEW()) ||
(
ISCHANGED( [Opportunity].Assignment_Status__c ) &amp;&amp;
ISPICKVAL( PRIORVALUE ( [Opportunity].Assignment_Status__c ), &quot;On Hold&quot; ) &amp;&amp;
ISPICKVAL( [Opportunity].Assignment_Status__c, &quot;Completed&quot; )
))
 &amp;&amp;
(
NOT( ISBLANK( [Opportunity].AccountId  ) )  &amp;&amp; 
(
(
[Opportunity].Owner.Id &lt;&gt; [Opportunity].Account.Owner.Id
)  &amp;&amp;
( 
ISBLANK( [Opportunity].Account.Account_Manager_Lookup__c ) || 
( [Opportunity].Owner.Id &lt;&gt;[Opportunity].Account.Account_Manager_Lookup__c.Id &amp;&amp; 
[Opportunity].Account.Account_Manager_Lookup__c.Profile.Name  &lt;&gt; &quot;WeWork System Administrator&quot; &amp;&amp; 
[Opportunity].Account.Account_Manager_Lookup__c.Profile.Name  &lt;&gt; &quot;WeWork System Administrator - New Layouts&quot; &amp;&amp; 
[Opportunity].Account.Account_Manager_Lookup__c.Profile.Name  &lt;&gt; &quot;WeWork Support and Operations&quot; &amp;&amp; 
[Opportunity].Account.Account_Manager_Lookup__c.IsActive 
 ) ) ) ) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>((ISNEW()) ||
(
ISCHANGED( {!myVariable_old.Assignment_Status__c} ) &amp;&amp;
ISPICKVAL( PRIORVALUE ( {!myVariable_old.Assignment_Status__c} ), &quot;On Hold&quot; ) &amp;&amp;
ISPICKVAL( {!myVariable_old.Assignment_Status__c}, &quot;Completed&quot; )
))
 &amp;&amp;
(
NOT( ISBLANK( {!myVariable_old.AccountId}  ) )  &amp;&amp; 
(
(
{!myVariable_old.Owner.Id} &lt;&gt; {!myVariable_old.Account.Owner.Id}
)  &amp;&amp;
( 
ISBLANK( {!myVariable_old.Account.Account_Manager_Lookup__c} ) || 
( {!myVariable_old.Owner.Id} &lt;&gt;{!myVariable_old.Account.Account_Manager_Lookup__r.Id} &amp;&amp; 
{!myVariable_old.Account.Account_Manager_Lookup__r.Profile.Name}  &lt;&gt; &quot;WeWork System Administrator&quot; &amp;&amp; 
{!myVariable_old.Account.Account_Manager_Lookup__r.Profile.Name}  &lt;&gt; &quot;WeWork System Administrator - New Layouts&quot; &amp;&amp; 
{!myVariable_old.Account.Account_Manager_Lookup__r.Profile.Name}  &lt;&gt; &quot;WeWork Support and Operations&quot; &amp;&amp; 
{!myVariable_old.Account.Account_Manager_Lookup__r.IsActive} 
 ) ) ) )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>((ISNEW()) ||
(
ISCHANGED( [Opportunity].Assignment_Status__c ) &amp;&amp;
ISPICKVAL( PRIORVALUE ( [Opportunity].Assignment_Status__c ), &quot;On Hold&quot; ) &amp;&amp;
ISPICKVAL( [Opportunity].Assignment_Status__c, &quot;Completed&quot; )
))
 &amp;&amp;
(
NOT( ISBLANK( [Opportunity].AccountId ) )  &amp;&amp; 
(
(
[Opportunity].Owner.Id &lt;&gt; [Opportunity].Account.Owner.Id 
)  &amp;&amp;
( 
ISBLANK( [Opportunity].Account.Account_Manager_Lookup__c ) || 
( [Opportunity].Owner.Id &lt;&gt;[Opportunity].Account.Account_Manager_Lookup__c.Id 
 ) ) ) )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_7</name>
        <dataType>Boolean</dataType>
        <expression>((ISNEW()) ||
(
ISCHANGED( {!myVariable_current.Assignment_Status__c} ) &amp;&amp;
ISPICKVAL( PRIORVALUE ( {!myVariable_current.Assignment_Status__c} ), &quot;On Hold&quot; ) &amp;&amp;
ISPICKVAL( {!myVariable_current.Assignment_Status__c}, &quot;Completed&quot; )
))
 &amp;&amp;
(
NOT( ISBLANK( {!myVariable_current.AccountId} ) )  &amp;&amp; 
(
(
{!myVariable_current.Owner.Id} &lt;&gt; {!myVariable_current.Account.Owner.Id} 
)  &amp;&amp;
( 
ISBLANK( {!myVariable_current.Account.Account_Manager_Lookup__c} ) || 
( {!myVariable_current.Owner.Id} &lt;&gt;{!myVariable_current.Account.Account_Manager_Lookup__r.Id} 
 ) ) ) )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>((ISNEW()) ||
(
ISCHANGED( [Opportunity].Assignment_Status__c ) &amp;&amp;
ISPICKVAL( PRIORVALUE ( [Opportunity].Assignment_Status__c ), &quot;On Hold&quot; ) &amp;&amp;
ISPICKVAL( [Opportunity].Assignment_Status__c, &quot;Completed&quot; )
))
 &amp;&amp;
(
NOT( ISBLANK( [Opportunity].AccountId ) )  &amp;&amp; 
(
(
[Opportunity].Owner.Id &lt;&gt; [Opportunity].Account.Owner.Id 
)  &amp;&amp;
( 
ISBLANK( [Opportunity].Account.Account_Manager_Lookup__c ) || 
( [Opportunity].Owner.Id &lt;&gt;[Opportunity].Account.Account_Manager_Lookup__c.Id 
 ) ) ) )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_7_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>((ISNEW()) ||
(
ISCHANGED( {!myVariable_old.Assignment_Status__c} ) &amp;&amp;
ISPICKVAL( PRIORVALUE ( {!myVariable_old.Assignment_Status__c} ), &quot;On Hold&quot; ) &amp;&amp;
ISPICKVAL( {!myVariable_old.Assignment_Status__c}, &quot;Completed&quot; )
))
 &amp;&amp;
(
NOT( ISBLANK( {!myVariable_old.AccountId} ) )  &amp;&amp; 
(
(
{!myVariable_old.Owner.Id} &lt;&gt; {!myVariable_old.Account.Owner.Id} 
)  &amp;&amp;
( 
ISBLANK( {!myVariable_old.Account.Account_Manager_Lookup__c} ) || 
( {!myVariable_old.Owner.Id} &lt;&gt;{!myVariable_old.Account.Account_Manager_Lookup__r.Id} 
 ) ) ) )</expression>
    </formulas>
    <interviewLabel>Opportunity_Send_Email_To_Account_Related_Users_On_Creation-19_InterviewLabel</interviewLabel>
    <label>Opportunity : Send Email To Account Related Users On Creation</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Opportunity</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
